html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .75em 1em .6em;
  margin: auto;
  background-color: #e2e2e2;
}

header h1 {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

header img {
  flex-basis: auto;
  order: -1;
  width: 2rem;
  margin: .5rem;
}

header p {
  flex-grow: 1;
  text-align: center;
}

header nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: #0074d9;
  padding: 1rem;
  font-size: 1.125rem;
}

header ul li a:hover {
  color: #fff;
}

@media only screen and (min-width: 40em) {

  header {
    flex-direction: row;
  }

}
